*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo1{
    display: flex;
    
}
.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: black;
}
.menu{
    width: 400px;;
    float: left;
    height: 70px;
}

ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
}
.img5{
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/banner1.jpg");
    padding: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.g{
    display: flex;
}




.green
{
   background-color: rgb(39, 228, 165)  ;
   
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    width: 100%;
    
}

.g .green .container{
    background-color: azure;
    margin-top: 60px;
    
   
}















.co{
    display: flex;
}

.box{
    height: 300px;
    width: 600px;
    background-image: url("shop3.png");
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
    margin-right: 40px;
}
.border{
    border: 5px solid white;
    opacity: 0;
    transition: 1s;
    height: 230px;
    width: 530px;
}

.box:hover .border{
          opacity: 1;
          transform: translateX(20px);
}


.box1{
    height: 300px;
    width: 600px;
    background-image: url("shop2.png");
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border1{
    border: 5px solid white;
    opacity: 0;
    transition: 1s;
    height: 230px;
    width: 530px;
}
.box1:hover .border1{
          opacity: 1;
          transform: translateX(20px);
}
.box:hover{
    background-position: 20px;
}
.box1:hover{
    background-position: 20px;
}